* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
}

header {
    background-color: rgb(221, 219, 217);
}

.nav {
    width: 100%;
    height: 70px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(51, 46, 41);
}

.nav i {
    font-size: 30px;
    color: black;
}

.sec-1 {
    background-color: rgb(221, 219, 217);
}

.page-1 {
    width: 100%;
    min-height: 615px;
    background-color: red;
    display: flex;
}

.page-left {
    width: 50%;
    min-height: 615px;
    background-image: url(bg-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.page-right {
    width: 50%;
    min-height: 615px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading h1 {
    font-size: 55px;
    font-family: Gilroy;
    margin-top: 80px;
    color: rgb(51, 46, 41);
    padding: 0px 50px;
}

.para p {
    font-size: 18px;
    /* width: 89%; */
    margin-bottom: 30px;
    padding: 0px 50px;
}

.image {
    width: 100%;
    display: flex;
}

#image-1 {
    background-image: url(bg-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#image-2 {
    background-image: url(bg-image-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#image-3 {
    background-image: url(bg-image-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.image-back {
    height: 250px;
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.sec-2 {
    background-color: rgb(221, 219, 217);
}

.page-2 {
    width: 100%;
    min-height: 325px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 30%;
    min-height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box svg {
    height: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.box h1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: Gilroy;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.box p {
    text-align: center;
    width: 80%;
    margin-bottom: 60px;
    font-size: 16px;
    opacity: 0.8;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
.sec-3 {
    background-color: #DDDBD9;
    min-height: 750px;
}

.page-3 {
    width: 100%;
    min-height: 700px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-left {
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.left-image-1 {
    width: 100%;
    height: 350px;
    background-image: url("bg-image-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-text-1 {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
    background-color: #332E29;
}

.left-text-1 h1{
    font-size: 35px;
    color: #DDDBD9;
}

.left-text-1 p{
    font-size: 18px;
    margin-top: 10px;
    color: #fff;
    opacity: .8;
}

.p-right {
    width: 50%;
    height: 700px;
   display: flex;
   flex-direction: column;
}

.right-text-2{
    width: 100%;
    height: 350px;
   background-color: #fff;
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 0px 50px;
}

.right-text-2 h1{
    font-size: 35px;
    color: #332E29;
}

.right-text-2 p{
    font-size: 18px;
    margin-top: 10px;
}

.right-image-2{
    width: 100%;
    height: 350px;
    background-image: url("bg-image-6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ------------------------------------------------------------------------------------------------------------------------------------- */

.page-4 {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-4 h1 {
    font-size: 45px;
    color: rgb(51, 46, 41);
    margin-bottom: 40px;
}

.page-4 p {
    width: 60%;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.sec-5 {
    background-color: #DDDBD9;
    min-height: 800px;
}

.page-5 {
    width: 100%;
    min-height: 650px;
    /* background-color: red; */
}

.page-5 h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 30px;
}

.design {
    width: 100%;
    min-height: 650px;
    /* background-color: blue; */
    display: flex;
    margin-top: 10px;
}

.design .design-left {
    width: 50%;
    height: 650px;
    background-image: url("bg-image-7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.design-right {
    width: 50%;
    min-height: 650px;
    background-color: aqua;
    display: flex;
}

.l-design {
    width: 50%;
    height: 650px;
    /* background-color: blue; */
}

.design-text {
    width: 100%;
    height: 325px;
    /* background-color: red; */
    padding: 0px 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design-text p {
    color: rgb(51, 46, 41);
    font-size: 20px;
}

.design-image {
    width: 100%;
    height: 325px;
    background-image: url("bg-image-9.jpg");
    background-position: 0% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}

.r-design {
    width: 50%;
    height: 650px;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
}

.design-image-1 {
    width: 100%;
    height: 325px;
    background-image: url("bg-image-8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.design-text-1 {
    width: 100%;
    height: 325px;
    background-color: #fff;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design-text-1 p {
    color: rgb(51, 46, 41);
    font-size: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

.page-6 {
    width: 100%;
    min-height: 400px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-6 h1 {
    font-size: 40px;
    color: #332E29;
    margin-bottom: 30px;
}

.page-6 p {
    width: 60%;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

.page-7 {
    width: 100%;
    height: 800px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-image {
    width: 48%;
    height: 730px;
    /* background-color: blue; */
}

#back-image-1 {
    background-image: url("bg-image-10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#back-image-2 {
    background-image: url("bg-image-11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.sec-8 {
    width: 100%;
    background-color: #DDDBD9;
}

.page-8 {
    width: 100%;
    min-height: 700px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-8 .details-box {
    width: 48%;
    height: 550px;
    background-color: #fff;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.details-box h1 {
    font-size: 65px;
    font-weight: 900;
}

.details-box h2 {
    font-size: 45px;
}

.details-box p {
    font-size: 20px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
.sec-9 {
    width: 100%;
    background-color: #332E29;
}

.page-9 {
    width: 100%;
    min-height: 850px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact {
    width: 48%;
    height: 750px;
    border: 2px solid #fff;
}

.map {
    width: 48%;
    height: 750px;
    background-image: url("https://user-images.githubusercontent.com/4512108/32870144-2f9224da-ca40-11e7-8cfd-3122da3bb66a.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-us {
    width: 100%;
    height: 300px;
    /* background-color: blue; */
    padding: 30px 40px;
}

.contact-us h1 {
    font-size: 35px;
    color: #fff;
}

.contact-us p {
    margin-top: 40px;
    font-size: 18px;
    color: #fff;
    opacity: .8;
    margin-bottom: 40px;
}

.contact-us a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    /* opacity: .8; */
}

.form-details {
    width: 100%;
    height: 445px;
    /* background-color: red; */
}

.form-details form {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
}

form input {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    border: 1px solid white;
    color: #fff;
}

form textarea {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    border: 1px solid white;
    padding: 10px 20px;
    color: #fff;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

.sec-10 {
    width: 100%;
    background-color: #332E29;
}

.page-10 {
    width: 100%;
    min-height: 300px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headline {
    width: 28%;
    height: 300px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headline-1 h1 {
    color: #fff;
    text-transform: capitalize;
}

#headline-1 p {
    /* width: 70%; */
    margin-top: 20px;
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
}

#headline-2 h1 {
    color: #fff;
    text-transform: capitalize;
}

#headline-2 p {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

#headline-3 h1 {
    color: #fff;
    text-transform: capitalize;
}

#headline-3 p {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
footer {
    width: 100%;
    background-color: #333333;
}

.footer-text {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.footer-text a {
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}

.footer-text h3 {
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 832.9px) {
    .page-1 {
        flex-direction: column;
    }

    .page-left {
        width: 100%;
    }

    .page-right {
        width: 100%;
    }

    .heading h1 {
        font-size: 66px;
        margin-bottom: 22px;
    }

    .para p {
        font-size: 25px;
    }

    .page-2 {
        flex-direction: column;
    }

    .box {
        width: 100%;
        margin-top: 15px;
    }

    .page-3 {
        flex-direction: column;
    }

    .p-left {
        width: 100%;
    }

    .p-right {
        width: 100%;
        flex-direction: column-reverse;
    }

    .page-8 {
        flex-direction: column;
    }

    .page-8 .details-box {
        width: 100%;
        margin-top: 15px;
    }

    .page-9 {
        flex-direction: column;
        gap: 20px;
    }

    .design {
        flex-direction: column;
    }

    .design .design-left {
        width: 100%;
    }

    .design-right {
        flex-direction: column;
        width: 100%;
    }

    .l-design {
        width: 100%;
    }

    .r-design {
        width: 100%;
        flex-direction: column-reverse;
    }

    .contact {
        width: 100%;
    }

    .map {
        width: 100%;
    }
}

@media screen and (max-width: 628.9px) {
    .heading h1 {
        font-size: 40px;
    }

    .para p {
        font-size: 20px;
    }

    .page-4 p {
        font-size: 18px;
        width: 80%;
    }

    .page-6 p {
        width: 80%;
        font-size: 18px;
    }

    .page-7 {
        flex-direction: column;
    }

    .back-image {
        width: 100%;
        margin-top: 20px;
    }

    .details-box p {
        font-size: 18px;
    }
}

@media screen and (max-width: 560.9px) {
    .page-5 h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 530.9px) {
    .details-box h2 {
        font-size: 35px;
    }

    .details-box p {
        font-size: 15px;
    }
}

@media screen and (max-width: 430.9px) {
    .heading h1 {
        font-size: 30px;
    }

    .image {
        flex-direction: column;
    }

    .image #image-3 {
        display: none;
    }

    .page-4 h1 {
        font-size: 30px;
    }

    .page-4 p {
        font-size: 16px;
        width: 100%;
    }

    .page-6 h1 {
        font-size: 25px;
    }

    .details-box h2 {
        font-size: 25px;
    }

    .details-box p {
        font-size: 13px;
    }

    .details-box h1 {
        text-align: center;
    }

    #box-3 h1 {
        font-size: 35px;
    }

    #box-3 p {
        font-size: 16px;
    }

    #box-2 h1 {
        font-size: 30px;
    }

    #box-2 p {
        font-size: 16px;
    }
}

@media screen and (max-width: 380.9px) {
    .page-5 h1 {
        font-size: 21px;
    }

    .contact-us p {
        font-size: 16px;
        padding-bottom: 25px;
    }

    .contact-us a {
        font-size: 18px;
    }

    .page-10 {
        flex-direction: column;
    }

    .headline {
        width: 100%;
    }
}

@media screen and (max-width: 355.9px) {
    .heading h1 {
        font-size: 18px;
    }

    .para p {
        font-size: 11px;
    }

    .page-6 p {
        font-size: 15px;
    }

    .details-box h2 {
        font-size: 17px;
    }

    #box-3 h1 {
        font-size: 25px;
    }

    #box-2 h1 {
        font-size: 22px;
    }

    .contact-us p {
        margin-top: 20px;
        padding-bottom: 0px;
        font-size: 14px;
    }
}